@model ErrorDialogModel

<div id="@Model.Id" class="alert alert-danger hidden">
	<button type="button" class="close pull-right">
		<span aria-hidden="true">&times;</span>
	</button>
	<ul class="alert-text">
		<li>test</li>
	</ul>
</div>