################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Flashcard/.vs/Flashcard/v15
/Flashcard/.vs/Flashcard/DesignTimeBuild
/Flashcard/Implementations/obj
/Flashcard/Implementations/bin/Debug/netcoreapp2.0
/Flashcard/obj
/Flashcard/bin/Debug/netcoreapp2.0
/Flashcard.WebAPI/obj
/Flashcard.WebAPI/bin/Debug/netcoreapp2.0
/Flashcard/DataModel/bin/Debug/netcoreapp2.0
/Flashcard/DataModel/obj/Debug/netcoreapp2.0
/Flashcard/DataModel/obj
/Flashcard/Interfaces/obj
/Flashcard/Interfaces/bin/Debug/netcoreapp2.0
/Flashcard/Flashcard.WebAPI/obj
/Flashcard/Flashcard.WebAPI/bin/Debug/netcoreapp2.0
/Flashcard/Flashcard/obj
/Flashcard/Flashcard/bin/Debug/netcoreapp2.0
/Flashcard/.vs/config
/Flashcard/Business/DataModel/obj
/Flashcard/Business/DataModel/bin/Debug/netcoreapp2.0
/Flashcard/Business/Implementations/obj
/Flashcard/Business/Implementations/bin/Debug/netcoreapp2.0
/Flashcard/Business/Interfaces/obj
/Flashcard/Business/Interfaces/bin/Debug/netcoreapp2.0
/Flashcard/Business/Localization/obj
/Flashcard/Business/Localization/bin/Debug/netcoreapp2.0
/Flashcard/Testing/UnitTests/Business/ImplementationsUnitTest/obj
/Flashcard/Testing/UnitTests/Business/ImplementationsUnitTest/bin/Debug/netcoreapp2.0
/Flashcard/Flashcard.WebAPI/Properties/PublishProfiles
/Flashcard/Flashcard/node_modules
/Flashcard/Flashcard/wwwroot/node_modules
/Desktop/SystemTemperatureChecker/.vs/SystemTemperatureChecker/v15
/Desktop/SystemTemperatureChecker/packages/EntityFramework.6.2.0
/Desktop/SystemTemperatureChecker/SystemTemperatureChecker/bin/Debug
/Desktop/SystemTemperatureChecker/SystemTemperatureChecker/obj/Debug
/Flashcard/Flashcard/.vs
/Flashcard/Testing/UnitTests/FlascardWebAPIUnitTest/obj
/Flashcard/Testing/UnitTests/FlascardWebAPIUnitTest/bin/Debug/netcoreapp2.1
/Flashcard/Flashcard.UI/obj
/Flashcard/Flashcard.UI/bin/Debug/netcoreapp2.1
/Timer/.vs/Timer/v15
/Timer/Timer/obj/Debug
/Timer/Timer/bin/Debug
/TipsAndTricks/.vs/TipsAndTricks/v15
/TipsAndTricks/TipsAndTricks/obj
/TipsAndTricks/TipsAndTricks/bin/Debug/netcoreapp2.1
/Flashcard/Testing/AutomatedTests/FlashcardAutomatedTest/obj
/Flashcard/Testing/AutomatedTests/FlashcardAutomatedTest/bin/Debug/netcoreapp2.1
/Flashcard/Testing/AutomatedTests/FlashcardAutomatedTest/.vs/FlashcardAutomatedTest/v15/Server/sqlite3
/Flashcard/Testing/AutomatedTests/FlashcardUIAutomatedTests/packages
/Flashcard/Testing/AutomatedTests/FlashcardUIAutomatedTests/FlashcardUIAutomatedTests/obj/Debug
/Flashcard/Testing/AutomatedTests/FlashcardUIAutomatedTests/FlashcardUIAutomatedTests/bin/Debug
/Flashcard/Testing/AutomatedTests/FlashcardUIAutomatedTests/.vs/FlashcardUIAutomatedTests/v15
/Flashcard/Business/Localization/bin/Release/netcoreapp2.0
/Flashcard/Business/Interfaces/bin/Release/netcoreapp2.0
/Flashcard/Business/Implementations/bin/Release/netcoreapp2.0
/Flashcard/Business/DataModel/bin/Release/netcoreapp2.0
/Flashcard/Flashcard.WebAPI/bin/Release/netcoreapp2.0
/Flashcard/.vs/Flashcard.WebAPI/v15
/Flashcard/FlashcardUI/.vs
/Flashcard/FlashcardUI/Flashcard.UI/bin/Debug/netcoreapp2.1
/Flashcard/FlashcardUI/Flashcard.UI/obj
/Flashcard/Flashcard.UI/.vs
/Flashcard/Flashcard.UI/Flashcard.UI/obj
/Flashcard/Flashcard.UI/Flashcard.UI/bin/Debug/netcoreapp2.1
/Flashcard/Flashcard.WebApi/.vs
/Flashcard/Flashcard.WebAPI/Flashcard.WebAPI/obj
/Flashcard/Flashcard.WebAPI/Flashcard.WebAPI/bin
/Flashcard/Flashcard.WebAPI/Flashcard.WebAPI/Properties/PublishProfiles
/Desktop/SystemTemperatureChecker/SystemTemperatureChecker/obj/Release
/Timer/Timer/obj/Release
.DS_Store
RabbitMQSingnalRExampleProject/Common/obj/
RabbitMQSingnalRExampleProject/Common/bin/
RabbitMQSingnalRExampleProject/Services/SenderApp/SenderApp/obj
RabbitMQSingnalRExampleProject/Services/SenderApp/SenderApp/bin
RabbitMQSingnalRExampleProject/UI/node_modules
RabbitMQSingnalRExampleProject/WebAPI/WebApi/.vs/
RabbitMQSingnalRExampleProject/WebAPI/WebApi/WebApi/bin/
RabbitMQSingnalRExampleProject/WebAPI/WebApi/WebApi/obj/
RabbitMQSingnalRExampleProject/Services/SenderApp/.vs/
FibonacciService/WebAPI/FibRest/FibRest/bin/
FibonacciService/WebAPI/FibRest/FibRest/obj/
FibonacciService/WebAPI/FibRest/.vs/
FibonacciService/Services/FibonacciExecutor/FibonacciExecutor/bin/
FibonacciService/Services/FibonacciExecutor/FibonacciExecutor/obj/
FibonacciService/Services/FibonacciExecutor/.vs/
FibonacciService/Shared/Core/bin/
FibonacciService/Shared/Core/obj/
