@model DataModel.Models.WebAPI.LoginModel

@{
	ViewBag.Title = PageTitles.LoginPage;
	Layout = "_LoginLayout";
}

<form asp-action="Index" method="post" class="form-signin">
	
	<error-dialog id="errorMessage"></error-dialog>

	<div asp-validation-summary="All"></div>

	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

	<label asp-for="@Model.Username" class="sr-only"></label>
	<input type="text" class="form-control has-danger" asp-for="@Model.Username" placeholder="Username">

	<label asp-for="@Model.Password" class="sr-only"></label>
	<input type="password" class="form-control has-danger" asp-for="@Model.Password" placeholder="Password">

	<button class="btn btn-lg btn-primary btn-block" type="submit">
		Sign in
	</button>

	<p class="mt-5 mb-3 text-muted">
		Flashcard © 2018
	</p>
</form>

@section Scripts {

	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/app/services/tokenService/tokenService.js"></script>
	<script src="~/js/app/services/tokenService/tokenExtension.js"></script>
	<script src="~/js/app/views/account/index.js"></script>
}