<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Fibonacci calculator</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" [class.active]="isActive('/home')" routerLink="/home" >Home</a>
      <a class="nav-link" [class.active]="isActive('/calculator')" routerLink="/calculator" >Calculator</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">

  <app-history-list></app-history-list>

  <router-outlet></router-outlet>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Example developed by <a href="http://kmaraszkiewicz86.pl/">kmaraszkiewicz86</a>.</p>
  </div>
</footer>