<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
	<appSettings>
		<add key="Host" value="http://localhost:58889"/>
		<add key="AdminLogin" value="Admin"/>
		<add key="AdminPassword" value="Test"/>
		<add key="LoginPage" value="/"/>
	</appSettings>
  <specFlow>
	  <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>